

header {
width: 100%;
height:130px;
display: block;
background-color:#808080 ;
box-sizing: border-box;
}

header nav ul{
    position:relative;
   top:50px;
   left: 50px;
}

header nav ul li {
    display: inline;

    margin: 0px 19px 0px 19px;


}
li a {
    text-decoration: none;
font-size: 28px;
color:gainsboro;
}
header nav img {
    margin-top:29px;
}
div img{

    margin-left:50px;
    margin-top: 10px;
margin-bottom: 10px;
}
section div{
    margin-left:35px;
}
section div img {
    margin-left:20px;
    margin-top: 10px;
margin-bottom: 10px;


}
nav {
width:1000px ;
display:flex;

}
nav img{
    margin-left:53px ;
}
nav article p{
    margin-left: 15px;
margin-top: 20px;
height: 250px;
    width: 380px;
    overflow: auto;
}
nav button{
    width: 250px;
    margin-top: 20px;
    margin-left: 15px;
height: 50px;
border-radius: 10px;
}
nav button:hover{
background-color: darkgreen;
cursor: pointer;
transition: all 1s;
}
footer{
    width: 100%;
    height: 200px;
background-color: dimgray;}

